.containerImg {
  height: 400px;
}

body {
  background-color: #0c0e12;
}
.card {
  color: white;
}
.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.734);
  transition: all 0.8s;
}
.spinner-border {
  height: 200px;
  width: 200px;
}
main {
  color: white;
}
.jumboGame {
  height: 800px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.jumbo {
  position: relative;
  background-image: url("./assets/Jumbo.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
}
.content-over-jumbo {
  position: relative;
  z-index: 2;
}
.cardCustom {
  height: 200px;
}
